@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

/*
*		Nav style
*/
.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	position: sticky;
	top: 0;
	background-color: white;
  z-index: 9999;
}

.logo {
	width: 100px;
}

.cart {
	position: relative;
}

.cart:hover {
	font-size: 50px;
}

.cartAmount {
	position: absolute;
	top: -10px;
	right: -10px;
	background-color: red;
	border-radius: 2em;
	font-size: 20px;
}

ul {
	list-style: none;
}

.navBar li, .ingredients li {
	display: inline-block;
	padding: 0 1em;
	font-size: 20px;
}

.navBar li a {
	color: black;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.navBar li a:hover {
	color: white;
	background-color: black;
	font-size: 30px;
}

.redButton, .greenButton {
	padding: 0.5em 1em;
	margin: 0.5em 0;
	background-color: rgb(255, 51, 51);
	font-size: 20px;
	cursor: pointer;
	border: none;
	border-radius: 2em;
	transition: all 0.3s ease 0s;
}

.greenButton {
	background-color: rgb(64, 255, 0);
	margin-right: 5%;
}

.redButton:hover {
	background-image: linear-gradient(to right, rgb(255, 51, 51), orange, rgb(255, 51, 51));
}

.greenButton:hover {
	font-weight: bold;
	font-size: 22px;
}
/*
*		Menu Style
*/
.shop {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	justify-content: center;
	padding: 2% 20%;
	gap: 30px;
}

@media (max-width: 1500px) {
	.shop {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1000px) {
	.shop {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	.shop {
		grid-template-columns: 1fr;
	}
}

.item {
	border: 2px solid black;
	text-align: center;
	border-radius: 1em;
	transition: all 0.5s;
}

.item:hover {
	color: white;
	background-color: black;
	background-image: linear-gradient(black, red, black, black);
}

.details {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 5%;
}

.priceQuantity {
	display: flex;
	justify-content: space-evenly;
}

.quantityButtons {
	display: flex;
	justify-content: center;
	gap: 0.5em;
	font-size: 24px;
}

.minus, .plus, .item img:hover {
	cursor: pointer;
}

.minus {
	color: red;
}

.plus {
	color: green;
}

.topBanner {
	padding: 2%;
	text-align: center;
	font-size: 50px;
	color: white;
	background-color: black;
	background-image: url(images/background1.jpg);
	background-size: cover;
}

.menu, .ingredients, .location {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding: 2% 15%;
}

.location {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	background-color: black;
	background-image: linear-gradient(to right, black, black, darkred, black, black);
}

.locationItem {
	display: flex;
	align-items: center;
	padding-left: 40%;
}

.location li {
	min-width: 300px;
	color: white;
}

.locationHeader {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 5%;
}

.location img {
	padding: 5% 0;
	width: 400px;
	max-height: 400px;
}

.menuItem, .ingredients li, .location div {
	width: 30%;
	padding: auto;
	color: black;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.menuItem:hover {
	color: white;
	background-color: black;
	font-size: 24px;
}

.menuItem img, .product img {
	width: 100%;
}

.product {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.product div {
	padding: 20% 20% 0 10%;
	color: white;
	background-color: black;
	background-image: linear-gradient(black, black, black, black, darkred);
}

.product p {
	padding: 5% 0;
}

.product ul {
	padding-bottom: 5%;
}

.ingredientsTitle, .newLocation h1 {
	padding: 2%;
	text-align: center;
	border-top: solid black;
}

.ingredients img {
	width: 50%;
}

.newLocation {
	text-align: center;
	padding: 0 15% 2% 15%;
	color: white;
	background-color: black;
}

.footer {
	width: 100%;
	height: 200px;
	padding: 2% 10%;
	text-align: center;
	color: white;
	background-color: black;
}

/*
*		FAQ style
*/
.FAQ {
  background-color: #fff;
  cursor: pointer;
  padding: 2em;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 20px;
}

.active, .FAQ:hover {
  background-color: #ccc;
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

/**
* ! style rules for shopping-cart
**/

.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: 15px;
}

/**
* ! style rules for cart-item
**/

.cart-item {
  border: 2px solid #212529;
  border-radius: 5px;
  display: flex;
	background-color: white;
}

.title-price-x {
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.title-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-price {
  background-color: #212529;
  color: white;
  border-radius: 4px;
  padding: 3px 6px;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
	font-size: 24px;
}

.checkoutContent{
	border-radius: 2%;
	border-width: 7px;
	border-color: rgb(0, 0, 0);
	background-color: #f1f1f1;
	
}
.checkoutbackground
{
	background-image: url(images/b2.png);
	background-size: cover;
	background-image: linear-gradient(to right, black, darkred, black);
}

.checkoutButton{
	padding: 0.5em 1em;
	margin: 0.5em 0;
	background-color: rgb(255, 51, 51);
	font-size: 20px;
	cursor: pointer;
	border: none;
	border-radius: 2em;
	transition: all 0.3s ease 0s;
}
.checkout input [type = select],[type=text],[type=tel],[type=email],[type=password],[type=date]{
	border-radius: 10px;
	background-color: #f1f1f1;
	border:1px solid black;
	padding: 5px 20px;

}
.itemList
{
	display: flexbox;
	flex-direction: column;

	
}
.cardList
{
	display: flexbox;
	flex-direction: row;
	justify-items: auto;
}

.about_text{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
.about_h2{
    
    text-shadow: 2px 2px 5px red;
}
.about_side{
    size: cover;
    height: 700;
 
}
.about_info{
    background-image: url(images/b3.png);
    background-repeat:no-repeat ;
    background-size: 100px 95px;
    background-position: 37% 13%;
}

.about_company{
     border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    width: 80%;
    height: 100%;
    margin: auto;


}
.about_value {
    border: 10px solid transparent;
    padding: 15px;
    border-image: linear-gradient(red, black) 27;

    
    

}
.about_img{
    border: 1px solid white;
    border-radius: 50%;
    height: 800px;
    width: 800px;
}
.about p{
    border: none;
    width: 70%;
    height: 70%;

}
.about_background {
    background-image:url(images/b6.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.about body,html{
    height: 100%;
    margin: 0;


}
.about hr{
    border: 10px solid white;

}
.value_title{
	border: 2px solid transparent;
	width: 100px;
	border-image: linear-gradient(red, black) 5;
}
.table_value{
  border-spacing: 50px;
  width: 100%;

}

.account_main{
	 height: 1000px;
	 width: 700px;
	 position: relative;
	 margin-right:auto ;
	 margin-left: auto;
	 
    }
.account_main input[type=submit]{
	background-color: red;
	opacity: 0.8;
	border: none;
	color: black;
	border: none;
    border-radius: 2em;
    padding: 10px;
}

.account_navbar{
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #ff3333;
  position: fixed;
  height: 100%;
  overflow: auto;

  	
  }
  .account_navbar li a {
  	display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  }
   
  .account_navbar li a:hover:not(.active){
  	background-color: darkred;
  	color: white;
  }
  

.account_main input[type=submit]:hover{
	color: white;
}

.account_main input[type=text],[type=tel],[type=email],[type=password],[type=date]{
	border-radius: 10px;
	background-color: #f1f1f1;
	border:1px solid black;
	padding: 10px 20px;
}

.account_select{
	width: 200px;
	background-color: #f1f1f1;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px 20px;
}


  .account_form{
  	background-color: white;

  }
  .account_body {
  	background-color: rgba(245, 245, 245);
  	height: 100%;
	margin: 0;
  }
  .account_table{
    width: 100%;
  }
  .account_table th{
  	height: 70px;
  }

   .login {
	height: 100%;
	margin: 0;
	}

   .loginform{
		width: 600px;
		height: auto;
		margin-left:auto; 
    margin-right:auto;
    padding: 120px 0;

	}
	.login_button{
		width: 100%;
	}
	.login_text{
		width: 100%;

	}
	.login_title{
		width: 100%;
		color: black;
	}
	.login_a{
		text-decoration: none;
		color: black;
	}
	.login_fieldset{
		border: none;
		padding: 0;
	}
	
	.sign{
		background-color: red;
		border: none;
		color:  black;
		padding: 15px 32px;
		text-align: center;
		display: inline-block;
		border-radius:12px ;
		width: 80%;

	}
	.sign:hover{
		color: white;
	}
	.login_input{
		background-color: white;
		width: 60%;
		padding: 10px;
		border-radius: 12px;
		border: 2px solid black;


	}
	.login_label{
		color: black;
	}
	.login_divform{
		background-color: white;
		opacity: 0.8;
	}
	.login_background{
		background-image: url(images/b1.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 100%;
		
	}
	.login_text td{
		height: 70px;
	}
	
	.recover_a{
  color: gray;

}

    .recover_button{
	background-color: red;
	opacity: 0.8;
	border: none;
	color: black;
	border: none;
    border-radius: 2em;
    padding: 10px 20px;
}

   .recover_input{
	border: 1px solid black;
	border-radius: 12px;
	padding: 10px 20px;
	background-color: #f1f1f1;
	width: 300px;
}

   .recover_border{
	border-radius: 5px;
	width: 500px;
	height: 400px;
	vertical-align: middle;
	background-color: white;
	border: none;

	
}
.recover_background{
	background-color: #f1f1f1;
	background-size: cover;
	height: 100%;


}
.recover_button[type=submit]:hover{
	color: white;
}
.recover_title{
	font-size: 30px;
}

.code{
		 font-size: 70px;
        width:80px ;
        height: 80px;
    text-align: center;
    flex: 1 0 1em;

	}

.center{
	margin: auto;
    width: 500px;
    border: none;
    padding: 10px;
}	

.code_p{
    color: gray;

}
.code_a{
    color: red;
    text-decoration: none;
}

.recover_body{
	padding: 0;
	height: 100%;
	margin: 0;
}
.success_text{
   border-radius: 5px;
	width: 500px;
	height: 400px;
	vertical-align: middle;
	background-color: white;
	border: none;
	margin: auto;
}
.success_table th{
	height: 70px;
}

.register_title{
	background-image: url(images/b5.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 280px;

}

.register_center{
	border: 3px solid white;
	background-color: white;
	opacity: 0.8;
	border-radius: 50%;
	width: 300px;
    height: 150px;
    padding: 20px 30px;
    left: 15%;
    position: absolute;
    text-align: center;
    
}

.register_button{
	background-color: red;
	opacity: 0.8;
	border: none;
	color: black;
	border: none;
    border-radius: 2em;
    padding: 10px;
}

.register_button:hover{
	color: white;
}

.register_input{
	border-radius: 10px;
	background-color: #f1f1f1;
	border: 1px solid black;
	padding: 10px 20px;
}

.register_select{
	width: 200px;
	background-color: #f1f1f1;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px 20px;
}
 .register_fieldset{
    background-color: white;

  }
  .register{
    background-color: rgba(245, 245, 245);
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .register_table th{
  	height: 70px;

  }
  .register_table {
  	width: 700px;
  }
.faq {
	padding: 10% 20%;
	background-color: #ccc;
	background-image: url(images/b6.png);
	background-size: cover;
	color: white;
}

.span{
  	
  	
  	font-size: 14px;
  	color: red;
  }
  .code-input {
    font-size: 1.5em;
    width: 3em;
    text-align: center;
    height: 3em;
    border-radius: 5px;
  }
  
 
.Profile{
	position: sticky;
	height: 200px;


}

.profile-border{
	position: absolute;
	height: 150px;
	width: 150px;
	left: 50%;
	top: 50%;
    border-radius: 50%;
    overflow: hidden;
	transform: translate(-50%,-50%);

}
#profile-photo{
	height: 100%;
	width: 100%;

}
#file{
	display: none;
}
#uploadBtn{
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0%;
	font-size: 15px;
	top: 80%;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	text-align: center;
	font-size: 13px;
	display: none;
	cursor: pointer;
}
