<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Crazy Burger - Login</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="login">

	<!-- nav bar -->
	<nav class="navBar">
		<a href="/"><img class="logo" src="images/logo.png" alt="logo"></a>
		<ul>
			<li><a href="/">Menu</a></li>
			<li><a href="/product">Product Page</a></li>
			<li><a href="/location">Location</a></li>
			<li><a href="/FAQ">FAQ</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/account">Account</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
		<a href="/cart"><img src="images/cart.png" alt="cart" height="50"></a>
	</nav>

	<div class="login_background">

	
	<br>
	<br>
	<br>
	<br>
	<br>

	<!-- page content -->
	<section class="login_section">
	<table align="center" class="loginform">
		<tr>
			
	<th>	
	<form action='/login' method= "POST">
		<div class="login_divform">
		<fieldset class="login_fieldset">
		
		<table class="login_title">
			<tr>
				<td>
		<legend><h3 align="left">Login</h3></legend>
	           </td>
	           <td>
	           <h5 align="right"><a href="/recover" class="login_a">Forget password?</a></h5>
	           </td>

            </tr>
        </table>    
		    
			
				<table class="login_text">
                        <tr>
						
							<td><input class="login_input" type="text" id="username" name="username" placeholder= "Username">
								<span id="LoginUsername-correct" class="span"></span>
                 <br>
                <span id="LoginUsername-error" class="span"></span>
							</td>	
						
						<tr>
						     
						     <td><input class="login_input" type="password" id="Password" name="Password" placeholder="Password">
						     	 <span id="Loginpassword-correct" class="span"></span>
                   <br>
                   <span id="Loginpassword-error" class="span"></span>
						     </td>
						</tr>
						
              </table>
              <br>
              <br>
              <table class="login_button">
              	<tr>
              		<th>
              <input type="checkbox" name="mem" value="mem">
              <label class="login_label" for="mem">keep me logged in checkbox</label></th>
       
             </tr>
               </table>
              
              <input class="sign"type="submit" value="Sign in"><br>
              <h5 align="center"><a href="/register" class="login_a">NO Account? </a></h5>     

			 </fieldset>
			 </div>
              		
	</form>

</th>
		
	</tr>
   </table>
 </section>
   </div>

</body>
</html>